.main-div{
 height: 800px; 
}

.description-div{
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.what-i-do{
  font-size: 40px;
}

.description-text-div{
background-color:violet;
height: 200px;
}