.App {
    /* margin: 0; */
    height: 2500px;
}


.overlay {
    position: relative;
    z-index: 0;
    background-size: 650px;
  }
  
  .overlay::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, #208379 20%, #051514 80%);
      opacity: .9;
      /* !!! */
      z-index: -1;
  }
  
  .box {
    width: 100%;
    height: 50%;
    /* position: absolute; */
    color: white;
    background-image: url('./assets/icon-bg.jpg');
  }
  